# Node.js server configuration
PORT=5000

# MySQL database credentials (Replace with your own)
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=your_db
DB_PORT=3306

# Secret key for your JWT Token (insert your secret hash)
JWT_SECRET=your_jwt_secret_here